<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpn.workbench.mapper.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bjpn.workbench.bean.Customer">
        <id column="id" property="id" />
        <result column="owner" property="owner" />
        <result column="name" property="name" />
        <result column="website" property="website" />
        <result column="phone" property="phone" />
        <result column="createBy" property="createBy" />
        <result column="createTime" property="createTime" />
        <result column="editBy" property="editBy" />
        <result column="editTime" property="editTime" />
        <result column="contactSummary" property="contactSummary" />
        <result column="nextContactTime" property="nextContactTime" />
        <result column="description" property="description" />
        <result column="address" property="address" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, owner, name, website, phone, createBy, createTime, editBy, editTime, contactSummary, nextContactTime, description, address
    </sql>

</mapper>
